<div>
    <table>
        <ng-template [ngIf]="nincsFoglalas">
            <div>
                Nincs foglalásod :(
            </div>
        </ng-template>

        <ng-container *ngFor="let foglalas of appointments">
            <tr>
                <td><h2>{{foglalas.idopont}}</h2></td>
                <td><button (click)="torol(foglalas)">Törlés</button></td>
                <td><button (click)="modosit(foglalas)">Módosítás</button></td>
            </tr>
        </ng-container>
    </table>
</div>


